* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    background: rgb(153, 152, 154);
    padding: 20px;
    border-radius: 10px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: rgb(7, 7, 255);
}

.map {
    background: rgb(202, 196, 196);
    color: rgb(83, 246, 246);
    padding: 2px;
    border-radius: 5px;
}

.dash1 {
    color: rgb(83, 246, 246);
}

.outline {
    border: 2px solid whitesmoke;
    padding: 20px;
    border-radius: 10px;
}

.last {
    padding-top: 20px;
}

.link2 {
    color: rgb(83, 246, 246);
}
